# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://uxwjvlbtmhvkgvfrdxdr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_JVqahbufCTaQ744WfE8kNw_yVSxb5y4
SUPABASE_SERVICE_ROLE_KEY=

# Wasabi S3
WASABI_ACCESS_KEY=
WASABI_SECRET_KEY=
WASABI_BUCKET=wayacloud-storage
WASABI_REGION=eu-central-1
WASABI_ENDPOINT=https://s3.eu-central-1.wasabisys.com
NEXT_PUBLIC_TUS_ENDPOINT=

# CinetPay
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_SECRET_KEY=

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# IA
ANTHROPIC_API_KEY=

# App
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=https://wayacloud-silk.vercel.app
